body{
    font-family: 'Itim', cursive;
    font-family: 'Ubuntu', sans-serif;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

img {
    height: 100%;
}

.content-div{
    margin-top: 8rem;
}
