.getting-started {
    text-align: center;

    .resume-templates{
        height: 80%;
        width: 94%;
        padding-left: 5rem;
    }

    .template-images{
        height: 25%;
        width: 16%;
    }

    .template-button {
        position: relative;
        left: -175px;
    }
}